{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Site E-commerce{% endblock %}

{% block body %}
    <h1>Bienvenue sur notre boutique !</h1>
    <p>Découvrez nos produits et profitez de nos offres exclusives.</p>
{% endblock %}
