name: Dependency Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ------------------------------
      # PHP + Composer
      # ------------------------------
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: intl-77.1

      - name: Install Composer dependencies (no scripts)
        run: composer install --no-interaction --no-progress --no-scripts

      - name: Composer Security Audit
        run: composer audit --locked

      # ------------------------------
      # Node + NPM Audit
      # ------------------------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install NPM packages
        run: npm install

      - name: NPM Audit
        run: npm audit --audit-level=high